{% extends 'shared/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Erro!</strong> Por favor, corrija os erros abaixo:
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.errors %}
                <div>{{ field.label }}: {{ field.errors }}</div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Cadastro de Orçamento
                    </div>
                    <div class="card-body">
                        <form method="post" class="form-horizontal">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Cliente:</label>
                                        <div class="col-sm-9">
                                            {{ form.cliente|attr:"disabled:disabled" }}
                                            {{ form.cliente.as_hidden }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Consumo:</label>
                                        <div class="col-sm-9">
                                            {{ form.consumo }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Painel Solar:</label>
                                        <div class="col-sm-9">
                                            {{ form.painel_solar }}<a id="add_id_painel" data-toggle="modal" data-target="#painelModal" title="Adicionar outro estado">
                                                <img src="/static/admin/img/icon-addlink.svg" alt="Adicionar">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Número de Painéis:</label>
                                        <div class="col-sm-9">
                                            {{ form.numero_painel|attr:"id:id_numero_painel" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Valor unitário Painel:</label>
                                        <div class="col-sm-9">
                                            {{ form.valor_unitario_painel|attr:"id:id_valor_unitario_painel" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Inversor:</label>
                                        <div class="col-sm-9">
                                            {{ form.inversor }}   <a id="add_id_inversor" href="#" data-toggle="modal" data-target="#inversorModal" title="Adicionar outro inversor">
                                                <img src="/static/admin/img/icon-addlink.svg" alt="Adicionar">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Número de Inversores:</label>
                                        <div class="col-sm-9">
                                            {{ form.numero_inversor|attr:"id:id_numero_inversor" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Valor unitário Inversor:</label>
                                        <div class="col-sm-9">
                                            {{ form.valor_unitario_inversor|attr:"id:id_valor_unitario_inversor" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Propriedade:</label>
                                        <div class="col-sm-9">
                                            {{ form.propriedade }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Energia Gerada:</label>
                                        <div class="col-sm-9">
                                            {{ form.energia_gerada }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Espaço Disponível:</label>
                                        <div class="col-sm-9">
                                            {{ form.espaco_disponivel }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Tempo de Garantia:</label>
                                        <div class="col-sm-9">
                                            {{ form.tempo_garantia }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Valor de Instalação:</label>
                                        <div class="col-sm-9">
                                            {{ form.valor_maodeobra|attr:"id:id_valor_maodeobra" }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Valor do Orçamento:</label>
                                        <div class="col-sm-9">
                                            {{ form.valor_orcamento|attr:"id:id_valor_orcamento" }}
                                        </div>
                                    </div>
                                    <div class="form-group row field-tipos_pagamento">
                                        <label class="required" for="id_tipos_pagamento">Tipos pagamento:</label>
                                        <div>
                                            <div class="related-widget-wrapper" data-model-ref="tipo pagamento">
                                                {{ form.tipos_pagamento }}
                                            </div><a id="add_id_pagamento" data-toggle="modal" data-target="#pagamentoModal" title="Adicionar outro pagamentos">
                                                <img src="/static/admin/img/icon-addlink.svg" alt="Adicionar">
                                            </a>
                                        </div>
                                        <div class="help" id="id_tipos_pagamento_helptext">
                                            Pressione “Control”, ou “Command” no Mac, para selecionar mais de um.
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Status Orçamento:</label>
                                        <div class="col-sm-9">
                                            {{ form.status }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Informações Adicionais:</label>
                                        <div class="col-sm-9">
                                            {{ form.info_adicionais }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Titularidade:</label>
                                        <div class="col-sm-9">
                                            {{ form.titularidade }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Inversor -->
<div class="modal fade" id="inversorModal" tabindex="-1" role="dialog" aria-labelledby="inversorModalLabel" aria-hidden="true">
    <!-- Define o diálogo do modal com tamanho médio -->
    <div class="modal-dialog modal-medium" role="document">
        <div class="modal-content modal-content-custom">
            <!-- Botão para fechar o modal -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- Corpo do modal contendo o formulário -->
            <div class="modal-body">
                <!-- Formulário para adicionar inversor -->
                <form id="inversor-form" method="post" action="{% url 'cadastro_inversor' %}">
                    {% csrf_token %}
                    <!-- Inclui o template parcial do formulário de inversor -->
                    {% include 'shared/usinas/inversor_form.html' %}
                </form>
            </div>
            <!-- Rodapé do modal com botão para fechar -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>//carrega propriedades baseadas na seleção de cliente em um formulário. Quando a página é carregada,
// ele verifica se há um cliente selecionado e carrega as propriedades correspondentes. Se um novo cliente for selecionado, 
//ele carrega as propriedades para o novo cliente.
document.addEventListener('DOMContentLoaded', function () {
    const clienteSelect = document.getElementById("id_cliente");
    const propriedadeSelect = document.getElementById("id_propriedade");

    function loadPropriedades(clienteId) {
        const url = `/ajax/propriedades_por_cliente/${clienteId}/`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                propriedadeSelect.innerHTML = '';
                const defaultOption = new Option("Selecione uma Propriedade", "");
                propriedadeSelect.add(defaultOption);
                data.forEach(propriedade => {
                    const option = new Option(propriedade.descricao, propriedade.id);
                    propriedadeSelect.add(option);
                });
            })
            .catch(error => console.error('Erro ao buscar propriedades:', error));
    }

    if (clienteSelect.value) {
        loadPropriedades(clienteSelect.value);
    }

    clienteSelect.addEventListener("change", function() {
        const clienteId = this.value;
        if (clienteId) {
            loadPropriedades(clienteId);
        } else {
            propriedadeSelect.innerHTML = '';
        }
    });
});
</script>

<script>//caculo dos valor total do orçamento
document.addEventListener('DOMContentLoaded', function () {
    const numeroPainelInput = document.getElementById('id_numero_painel');
    const valorUnitarioPainelInput = document.getElementById('id_valor_unitario_painel');
    const numeroInversorInput = document.getElementById('id_numero_inversor');
    const valorUnitarioInversorInput = document.getElementById('id_valor_unitario_inversor');
    const valorMaodeobraInput = document.getElementById('id_valor_maodeobra');
    const valorOrcamentoInput = document.getElementById('id_valor_orcamento');

    function calculateOrcamento() {
        const numeroPainel = parseFloat(numeroPainelInput.value) || 0;
        const valorUnitarioPainel = parseFloat(valorUnitarioPainelInput.value) || 0;
        const numeroInversor = parseFloat(numeroInversorInput.value) || 0;
        const valorUnitarioInversor = parseFloat(valorUnitarioInversorInput.value) || 0;
        const valorMaodeobra = parseFloat(valorMaodeobraInput.value) || 0;

        const valorOrcamento = (numeroPainel * valorUnitarioPainel) + 
                               (numeroInversor * valorUnitarioInversor) + 
                               valorMaodeobra;

        valorOrcamentoInput.value = valorOrcamento.toFixed(2);
    }

    numeroPainelInput.addEventListener('input', calculateOrcamento);
    valorUnitarioPainelInput.addEventListener('input', calculateOrcamento);
    numeroInversorInput.addEventListener('input', calculateOrcamento);
    valorUnitarioInversorInput.addEventListener('input', calculateOrcamento);
    valorMaodeobraInput.addEventListener('input', calculateOrcamento);

    // Initial calculation
    calculateOrcamento();
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // Seleciona o campo de data na página
    const dateField = document.querySelector('input[type="date"]');
    // Se o campo de data existir
    if (dateField) {
        // Adiciona a classe 'vDateField' ao campo de data
        dateField.classList.add('vDateField');
        // Obtém a data atual em formato ISO e seleciona apenas a parte da data (YYYY-MM-DD)
        const today = new Date().toISOString().split('T')[0];
        // Insere elementos HTML adicionais após o campo de data para atalhos de data
        dateField.insertAdjacentHTML('afterend', `
            <span class="datetimeshortcuts">
                &nbsp;<a href="#" onclick="document.getElementById('${dateField.id}').value = '${today}'; return false;">Hoje</a>&nbsp;|&nbsp;
                <a href="#" id="calendarlink0">
                    <span class="date-icon" title="Escolha uma data"></span>
                </a>
            </span>
        `);
    }
});
</script>

<script type="text/javascript">// Este script lida com o fechamento de um modal após adicionar um novo item a uma lista ou
// campo de entrada. Ele atualiza dinamicamente o campo correspondente com o novo item adicionado e fecha o modal.
function dismissAddAnotherPopup(win, newId, newRepr, pagina) {
    // Extrai o nome do elemento a partir do nome da janela
    var name = windowname_to_id(win.name);
    var elem = document.getElementById(name);
// Se o elemento existir
    if (elem) {
        var elemName = elem.nodeName.toUpperCase();
    // Se o elemento for um SELECT, adiciona a nova opção e a seleciona
        if (elemName === 'SELECT') {
            var o = new Option(newRepr, newId);
            elem.options[elem.options.length] = o;
            o.selected = true;
 // Se o elemento for um INPUT, atualiza o valor do campo
        } else if (elemName === 'INPUT') {
            elem.value = newId;
        }
    }
// Fecha o modal após a seleção
    $('#' + name + 'Modal').modal('hide');
}
function windowname_to_id(name) {
    // Remove o prefixo 'add_' do nome da janela para obter o id do elemento
    return name.replace(/^add_/, '');
}
</script>

<script type="text/javascript">//Este script adiciona funcionalidades de popup para links e manuseio 
//de formulários AJAX para salvar dados sem recarregar a página.
document.addEventListener("DOMContentLoaded", function() {
    // Seleciona todos os links com o atributo data-popup="yes"
    var links = document.querySelectorAll('a[data-popup="yes"]');
    
    // Adiciona um listener de clique para abrir o link em uma nova janela popup
    links.forEach(function(link) {
        link.addEventListener("click", function(event) {
            event.preventDefault();
            var width = 900;
            var height = 500;
            var left = (screen.width / 2) - (width / 2);
            var top = (screen.height / 2) - (height / 2);
            var newWindow = window.open(this.href, 'popupWindow', 'width=' + width + ',height=' + height + ',top=' + top + ',left=' + left);
            newWindow.focus();
        });
    });

    // Adiciona um listener de clique para salvar o formulário do modal de inversor via AJAX
    document.getElementById('save-inversor').addEventListener('click', function() {
        var form = document.getElementById('inversor-form');
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                if (response.message === 'success') {
                    $('#inversorModal').modal('hide');
                    location.reload(); // Recarrega a página para atualizar os dados
                }
            } else {
                // Tratar erros
                console.error('Erro ao salvar inversor.');
            }
        };
        xhr.send(formData);
    });
});
</script>

<style>
    .modal-large {
        max-width: 90%;
    }
    .modal-medium {
        max-width: 70%;
    }
    .modal-small {
        max-width: 50%;
    }
    .modal-content-custom {
        max-height: 70vh;
        overflow-y: auto;
    }
</style>


{% endblock %}
