{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Erro!</strong> Por favor, corrija os erros abaixo:
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.errors %}
                <div>{{ field.label }}: {{ field.errors }}</div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    Detalhar Orçamento
                </div>
                <div class="card-body">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Cliente:</label>
                                    <div class="col-sm-9">
                                        {{ form.cliente }}
                                        <!--<input type="hidden" name="cliente" value="{{ form.cliente.value }}">   -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Propriedade:</label>
                                    <div class="col-sm-9">
                                        {{ form.propriedade }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Consumo:</label>
                                    <div class="col-sm-9">
                                        {{ form.consumo }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Painel Solar:</label>
                                    <div class="col-sm-9">
                                        {{ form.painel_solar }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Quantidade de Painéis:</label>
                                    <div class="col-sm-9">
                                        {{ form.numero_painel }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Valor unitário:</label>
                                    <div class="col-sm-9">
                                        {{ form.valor_unitario_painel }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Inversor:</label>
                                    <div class="col-sm-9">
                                        {{ form.inversor }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Quantidade de Inversor:</label>
                                    <div class="col-sm-9">
                                        {{ form.numero_inversor }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Valor unitário:</label>
                                    <div class="col-sm-9">
                                        {{ form.valor_unitario_usina }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Energia Gerada:</label>
                                    <div class="col-sm-9">
                                        {{ form.energia_gerada }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Espaço Disponível:</label>
                                    <div class="col-sm-9">
                                        {{ form.espaco_disponivel }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Tempo de Garantia:</label>
                                    <div class="col-sm-9">
                                        {{ form.tempo_garantia }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Valor do Orçamento:</label>
                                    <div class="col-sm-9">
                                        {{ form.valor_orcamento }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Status Orçamento:</label>
                                    <div class="col-sm-9">
                                        {{ form.status }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-end control-label col-form-label">Informações Adicionais:</label>
                                    <div class="col-sm-9">
                                        {{ form.info_adicionais }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <!-- Botão para voltar para detalhes do cliente -->
                            <a href="{% url 'detalhar_cliente' cliente_id %}" class="btn btn-primary">Voltar para Detalhes do Cliente</a>
                            <!-- Botão de enviar o formulário -->
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const clienteSelect = document.getElementById("id_cliente");
        const propriedadeSelect = document.getElementById("id_propriedade");
        const propriedadeAtualId = '{{ form.propriedade.value }}';  // Pega o ID da propriedade atual do Django template

        function loadPropriedades(clienteId) {
            const url = `/ajax/propriedades_por_cliente/${clienteId}/`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    propriedadeSelect.innerHTML = ''; // Limpa opções existentes
                    var option = new Option("Selecione uma Propriedade", ""); // Adiciona opção padrão
                    propriedadeSelect.add(option);
                    data.forEach(function(propriedade) {
                        var option = new Option(propriedade.descricao, propriedade.id); // Ajustado para usar a nova estrutura de dados
                        if (propriedade.id.toString() === propriedadeAtualId) {
                            option.selected = true;  // Seleciona a opção que corresponde à propriedade atual
                        }
                        propriedadeSelect.add(option);
                    });
                })
                .catch(error => console.error('Erro ao buscar propriedades:', error));
        }

        // Carregar propriedades se um cliente estiver selecionado
        if (clienteSelect.value) {
            loadPropriedades(clienteSelect.value);
        }

        clienteSelect.addEventListener("change", function() {
            const clienteId = this.value;
            if (clienteId) {
                loadPropriedades(clienteId);
            } else {
                propriedadeSelect.innerHTML = ''; // Limpa opções se nenhum cliente for selecionado
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Desabilita o campo cliente para edição, mas envia o valor original
        const clienteInput = document.getElementById("id_cliente");
        clienteInput.readOnly = true;
    });
</script>

{% endblock %}
