{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <script type="text/javascript">
        // Usando Django Template Tags para passar valores ao JavaScript
        const objPk = "{{ obj.pk }}";
        const obj = "{{ obj }}";
        const pagina = "{{ pagina }}";
        
        // Chamando a função com os valores passados
        opener.dismissAddAnotherPopup(window, objPk, obj, pagina);

        // Atualizar o campo de tipos de pagamento no formulário original
        function updateTiposPagamento(pk, name) {
            const select = opener.document.getElementById('id_tipos_pagamento');
            const option = new Option(name, pk);
            select.add(option, undefined);
            option.selected = true;
        }

        // Verificar se a página de origem é cadastrar_orcamento
        if (pagina === 'cadastrar_orcamento') {
            updateTiposPagamento(objPk, obj);
        }
        // jogando os valores no console
        console.log("Objeto pk:", objPk);
        console.log("Objeto:", obj);
        console.log("Objeto pagina:", pagina);
        
        // Descomente a linha abaixo para fechar o popup se necessário
         window.close();
    </script>
{% endblock %}
