{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Erro!</strong> Por favor, corrija os erros abaixo:
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.errors %}
                <div>{{ field.label }}: {{ field.errors }}</div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Cadastro de Local de Instalação
                </div>
                <div class="card-body">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row">
                                  <label class="col-sm-3 text-end control-label col-form-label">Nome da Propriedade:</label>
                                  <div class="col-sm-9">
                                      {{ form.nome_propriedade }}
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-3 text-end control-label col-form-label">Endereço:</label>
                                <div class="col-sm-9">
                                    {{ form.endereco }}
                                </div>
                                </div>
                              <div class="form-group row">
                                  <label class="col-sm-3 text-end control-label col-form-label">Cidade:</label>
                                  <div class="col-sm-9">
                                      {{ form.cidade }}
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-3 text-end control-label col-form-label">Estado:</label>
                                  <div class="col-sm-9">
                                      {{ form.estado }}
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-3 text-end control-label col-form-label">CEP:</label>
                                  <div class="col-sm-9">
                                      {{ form.cep }}
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label class="col-sm-3 text-end control-label col-form-label">Área (m²):</label>
                                <div class="col-sm-9">
                                    {{ form.area }}
                                </div>
                            </div>
                              <div class="form-group row">
                                  <label class="col-sm-3 text-end control-label col-form-label">Tipo de Propriedade:</label>
                                  <div class="col-sm-9">
                                      {{ form.tipo_propriedade }}
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-3 text-end control-label col-form-label">Proprietário:</label>
                                  <div class="col-sm-9">
                                      {{ form.proprietario }}
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-3 text-end control-label col-form-label">Informações Adicionais:</label>
                                  <div class="col-sm-9">
                                      {{ form.info_adicionais }}
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
