{% extends 'shared/base.html' %}
{% load static %}
{% block content %}


<p>
<div>
<table  class="display" style="width:100%" id="tabela_cliente">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
            <tr>
              <td>{{ cliente.nome_completo }}</td>
              <td>{{ cliente.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
</table>
</div>

{% endblock %}
