{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-9 offset-md-1">
            <div class="card">
                <div class="card-header">
                    Cadastro de Cidade
                </div>
                <div class="card-body">
                    <form method="post" id="form_cadastro_cidade" class="form-horizontal">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group row">
                                  <label for="id_nome_cidade" class="col-sm-3 text-end control-label col-form-label">Nome da Cidade:</label>
                                  <div class="col-sm-9">
                                      {{ form.nome}}
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label for="id_estado" class="col-sm-3 text-end control-label col-form-label">Estado:</label>
                                <div class="col-sm-9">
                                    {{ form.estado }}
                                </div>
                            </div>
                            </div>
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
